.ErrorItem{
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 15px;
    border: 2px solid rgb(65,88,208);
    margin-top: 15px;   
}
.title{
    width: 22%;  
    word-wrap: break-word;      
}
.title_code{
    width: 6%;
    word-wrap: break-word;
}
.title_code_err{
    width: 10%;
    word-wrap: break-word;
}
.title_coef{
    width: 6%;
    word-wrap: break-word;
}
.title_field{
    width: 14%;
    word-wrap: break-word;
}