.POInfo{
    width: 55%;
    height: 100%;
    justify-content: space-evenly;
    /*float: left;*/
    display:block;
    align-items: center;
    margin: 5px ;
    padding: 15px;
    border: 2px solid #1b2b4c;
    margin-bottom: 15px;
    border-radius: 5px;
    background:#e5e5e5;
}