.Btn{
   height: min-content;
    width: max-content;
    padding:5px 15px;
    color: #0f7afc;
    font-size: 14px;
    background: transparent;
    border: 1px solid #0f7afc;
    cursor: pointer;
    margin: 5px;
   
    
}
.Btn:active{
    color: rgb(65,88,208);
    border: 1px solid rgb(65,88,208);
}