.ErrorsHeader{
    display: flex;
    justify-content:space-around;
    width: 100%;
    padding: 17px;
    /*margin-left: 15px;*/
}
.title{
    width: 22%;  
    word-wrap: break-word;      
}
.title_code{
    width: 6%;
    word-wrap: break-word;
}
.title_code_err{
    width: 10%;
    word-wrap: break-word;
}
.title_coef{
    width: 6%;
    word-wrap: break-word;
}
.title_field{
    width: 14%;
    word-wrap: break-word;
}