.po_content{
    height: fit-content;
    max-height: 650px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 15px;
    border: 2px solid rgb(65,88,208);
    margin-top: 15px;   
}
.po_description{
    display: inline-block;
    justify-content: space-evenly;
}
.title_code{
    width: 8%;
    min-width: 8%; 
    word-wrap: break-word;
}
.title{
    width: 16%;
    min-width: 16%; 
    word-wrap: break-word;     
}